<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Rock Paper Scissors Results</title>
    <style></style>
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
</head>

<body>
    <h1>Results</h1>
    <p>The player choice was <%= player %>.</p>
    <p>The cpu choice was <%= cpu %>.</p>
    <h2>The winner is <%= winner %></h2>

    <button><a href="/">Play again... you know you want to</a></button>
</body>

</html>